[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
opencv-python = "*"
mss = "*"
pillow = "*"
numpy = "*"
flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.13"
