/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../images/back1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    height: 100%;
    width: 100%;
    background: transparent;
}

button {
    border: none;
}

input {
    border: none;
}

input:focus {
    border: none;
}

.container {
    min-height: 100vh;
    height: 100vh;
    width: 100%;

    display: flex;
}

.main {
    padding: 0% 10%;
    
    width: 70%;
    gap: 2rem;
    position: relative;
    z-index: 2;
}

.main > h1 {
    margin-top: 4rem;
    margin-bottom: 3rem;

    padding: 0.5rem;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);
    color: white;
    letter-spacing: 2px;
}

.chat {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    border-left: 2px solid black;
    padding: 0.7rem;
    position: relative;
    z-index: 1;
}

.chat > h2 {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: white;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
}

.log {
    padding: 0.5rem;
}
.log > p {
    color: white;
    margin-bottom: 0.7rem;
    font-size: 0.6rem;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
    line-height: 1.6rem;
}

.timer {
    margin-top: 2rem;
    width: 200px;
    padding: 1.3rem;
    background-color: white;
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: bold;
    border: 4px solid #000;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.center {
    position: fixed;
    left: 0;
    top: 30%;
    height: 60%;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 0 10%;
}

.character-img {
    border-radius: 100%;
    position: relative;
    width: 200px;
    height: auto;
}

.character-img > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 3px solid black;
}
.character-img > img:hover {
    border: 3px solid white;
    cursor: pointer;
    transform: scale(1.05);
}

.dialogue {
    position: absolute;
    top: -35%;
    left: 40%;
    width: 200px;

    font-size: 0.7rem;
    color: black;
    font-weight: bold;
    line-height: 1.4rem;

    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 0;
    border: 3px solid #000;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.input {
    background-color: white;
    border-radius: 0;
    font-size: 1.5rem;
    border: 4px solid #000;
    height: 3.5rem;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 600px;

    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}

.input-text {
    height: 100%;
    font-size: 0.7rem;
    flex-grow: 1;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    font-family: 'Press Start 2P', cursive;
    outline: none;
}

.input-text::placeholder {
    color: #999;
    font-size: 0.6rem;
}

.submit-btn {
    width: 3.5rem;
    height: 100%;
    cursor: pointer;
    background-color: #4CAF50;
    border-left: 4px solid #000;
    transition: all 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.submit-btn:active {
    transform: scale(1);
    box-shadow: none;
}

.submit-btn > img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {

    .dialogue {
        width: 140px;
        font-size: 1rem;
    }
    
}

@media screen and (min-height: 800px) {
    .main {
        gap: 3.5rem;
    }
}