/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100%;

    display: flex;
}

.main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.chat {
    width: 30%;
    background-color: aliceblue;
    padding: 0.7rem;
}

.chat > h2 {
    margin-bottom: 1rem;
}

.log {
    background-color: white;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.log > p {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.timer {
    padding: 1.5rem;
    background-color: lightgray;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid gray;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center > img {
    width: 200px;
    height: auto;

    border-radius: 0.5rem;
    border: 1px solid gray;
}

.input {
    padding: 1.5rem;
    background-color: lightgray;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid gray;

    display: flex;
    align-items: center;
    justify-content: space-between;
}