{% extends "base.html" %}

{% block title %}HackNYU{% endblock %}

{% block content %}
<div class="container">
    
    <div class="main">
        <h1> Conscience AI </h1>

        <div class="center">
            <div class="timer">
                <p> 00:15 </p>
            </div>

            <img src="{{ url_for('static', filename='images/sample.jpg') }}" alt="Conscience AI Logo">
        </div>

        <div class="input">
            <input type="text" placeholder="Enter your prompt here...">
            <button type="submit">Submit</button>
        </div>
    </div>


    <div class="chat">
        <h2> AI Chat </h2>
        <div class="log">
            <p>Bot: Welcome to the AI Chat! Ask me anything.</p>
            <p>Welcome to the AI Chat! Ask me anything.</p>
            <p>Welcome to the AI Chat! Ask me anything.</p>
        </div>
    </div>

</div>
{% endblock %}
