{% extends "base.html" %}

{% block title %}HackNYU{% endblock %}

{% block content %}
<div class="container">
    
    <div class="main">
        <h1> Conscience AI </h1>

        <div class="center">
            <div class="timer">
                <p> 00:15 </p>
            </div>

            <div class="character-img">
                <p class="dialogue"> Hey, you gotta lock in! </p>

                <img src="{{ url_for('static', filename='images/sample.jpg') }}" alt="Conscience AI Logo">
            </div>
        </div>

        <div class="input">
            <input class="input-text" type="text" placeholder="Enter your next task ->">
            <button class="submit-btn" type="submit">
                <img src="{{ url_for('static', filename='images/arrow.png') }}" alt="Send">
            </button>

            <!-- <input type="file" accept="audio/*" capture> -->
        </div>
    </div>


    <div class="chat">
        <h2> AI Chat </h2>
        <div class="log">
            <p>Bot: Welcome to the AI Chat! Ask me anything.</p>
            <p>Welcome to the AI Chat! Ask me anything.</p>
            <p>Welcome to the AI Chat! Ask me anything.</p>
        </div>
    </div>
</div>
{% endblock %}
